:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 1080px;
    --nav1-height: 48px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: oklch(92% 0 173);
    --entry: oklch(90% 0.012 0);
    --entry-2: oklch(85% 0.008 0);
    --light-corner: oklch(100% 0 0);
    --dark-corner: oklch(60% 0 0);
    --nav2-link: oklch(96% 0.005 173);
    --primary: oklch(24% 0.005 173);
    --secondary: oklch(40% 0.005 173);
    --tertiary: rgb(214, 214, 214);
    --content: oklch(32% 0.005 173);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: oklch(96% 0.004 173);
    --border: rgb(238, 238, 238);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: oklch(20% 0.001 173);
    --nav-primary-color:oklch(40% 0.004 173);
    --nav-secondary-color:oklch(30% 0.003 173);
    --entry: oklch(36% 0.012 0);
    --entry-2:oklch(24% 0.008 0);
    --light-corner:oklch(60% 0 0);     
    --dark-corner:oklch(12% 0 0);      
    --nav2-link:oklch(40% 0.005 0);   
    --primary: oklch(92% 0.005 173);
    --secondary: oklch(88% 0.005 173);
    --tertiary: oklch(80% 0.005 173);
    --content: oklch(85% 0.005 173);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: oklch(30% 0 173);
    --border: rgb(51, 51, 51);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
