#theme-toggle > svg {
    fill:var(--primary);
}
.header {
    display:flex;
    justify-content: center;
}

.nav {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-inline-start:auto;
    margin-inline-end:auto;
    max-width:calc(var(--main-width) + var(--gap) * 2);
    margin-top:32px
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

[data-theme="dark"] #moon {
  vertical-align:middle;
  display:none
}

[data-theme="light"] #sun {
  vertical-align:middle;
  display:none
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

#menu > li {
  padding-left:24px;
  padding-right:24px;
  padding-top:8px;
  padding-bottom:8px;
  background:var(--nav2-link);
  border-radius:8px;
  margin:4px;
  box-shadow:
    inset 1px 1px 2px var(--light-corner),
    1px 1px 2px var(--dark-corner);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
